@import url("https://res.cloudinary.com/scoiger/raw/upload/v1632297618/ElectroGridWeb/styles/css/fonts_larc4m.css");

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  scroll-behavior: smooth;
}

// BG Image
.bg-1 {
  background: url("https://res.cloudinary.com/scoiger/image/upload/b_rgb:000000,o_65/v1630093285/ElectroGridWeb/images/bg/EGWeb_BG_xkq3m2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
}

// Header
header {
  height: 15vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

// Left Header Content
.left_header {
  img {
    width: 350px;
  }
}

// Right Header Content
.right_header {
  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        padding: 0px 20px;
      }
    }
  }
}

// Nav Link
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "EG_Medium", sans-serif;

  display: block;
  position: relative;
  padding: 0.2em 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #fff;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

// Section - One
#sec-one {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 75vh;
  width: 90%;
  margin: auto;
}

.sec-one-wrap {
  text-align: center;
  color: #fff;
  font-family: "EG_Medium", sans-serif;
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2em;
  }
}

// Section - Two/About Us
#about-us {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100vh;
  width: 90%;
  margin: auto;
}

.sec-two-wrap_box-one {
  color: #000;
  h2 {
    font-family: "EG_Medium", sans-serif;
    font-size: 2.5em;

    margin-bottom: 20px;
  }
  p {
    font-family: "EG_Regular", sans-serif;
    font-size: 1.5em;
    line-height: 30px;

    width: 95%;
  }
}

.sec-two-wrap_box-two {
  img {
    width: 550px;
    border-radius: 5px;
  }
}

// Footer

.footer-bg {
  background-color: rgb(246, 246, 246);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 12vh;
  width: 90%;
  margin: auto;
}

.f-cr {
  font-size: 20px;
  font-family: "EG_Medium", sans-serif;
}

.social-link {
  color: #000;
  text-decoration: none;
  font-family: "EG_Medium", sans-serif;
  font-size: 25px;

  padding: 0 20px;
  transition: 0.2s;
  &:hover {
    color: grey;
    transition: 0.2s;
  }
}
