@import url("https://res.cloudinary.com/scoiger/raw/upload/v1632297618/ElectroGridWeb/styles/css/fonts_larc4m.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

.bg-1 {
  background: url("https://res.cloudinary.com/scoiger/image/upload/b_rgb:000000,o_65/v1630093285/ElectroGridWeb/images/bg/EGWeb_BG_xkq3m2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

.left_header img {
  width: 350px;
}

.right_header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right_header nav ul li {
  list-style: none;
  padding: 0px 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "EG_Medium", sans-serif;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.nav-link:hover::after, .nav-link:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

#sec-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  width: 90%;
  margin: auto;
}

.sec-one-wrap {
  text-align: center;
  color: #fff;
  font-family: "EG_Medium", sans-serif;
}

.sec-one-wrap h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.sec-one-wrap p {
  font-size: 1.2em;
}

#about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.sec-two-wrap_box-one {
  color: #000;
}

.sec-two-wrap_box-one h2 {
  font-family: "EG_Medium", sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.sec-two-wrap_box-one p {
  font-family: "EG_Regular", sans-serif;
  font-size: 1.5em;
  line-height: 30px;
  width: 95%;
}

.sec-two-wrap_box-two img {
  width: 550px;
  border-radius: 5px;
}

.footer-bg {
  background-color: #f6f6f6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
  width: 90%;
  margin: auto;
}

.f-cr {
  font-size: 20px;
  font-family: "EG_Medium", sans-serif;
}

.social-link {
  color: #000;
  text-decoration: none;
  font-family: "EG_Medium", sans-serif;
  font-size: 25px;
  padding: 0 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-link:hover {
  color: grey;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */